<!-- page1.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- เพิ่มบรรทัดนี้ -->
    <title>Page 1</title>
    <style>
        body {
            min-height: 100vh;
            background-image: url('/static/images/modern.jpg');
            background-position: center;
            background-size: cover;
            background-attachment: fixed; /* ทำให้พื้นหลังเลื่อนตามได้ */
            padding: 10px 10%;
            overflow: hidden;
            position: relative;
        }

    </style>
</head>
<body>
    {% include 'navigation.html' %}
    
</body>
</html>
