<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <!-- เพิ่มบรรทัดนี้ -->
  </head>
  <body>
    {% include 'navigation.html' %}
    <!-- Include Navigation Bar -->
    <div class="content-group dwt-anim">
      <div class="hero-section-group">
        <div class="hero-content-group">
          <h2 class="h2-dwt-group">Group Members.</h2>
        </div>
      </div>

      <div
        class="content-container-group d-flex justify-content-center align-items-center flex-wrap"
        style="margin-top: 10%"
      >
        <div class="card-group">
          <img
            src="{{ url_for('static', filename='images/member_a.jpg') }}"
            alt="Member A"
            class="member-image-group"
          />
          <div class="card-body">
            <h5 class="card-title-group">นายสรวิชญ์ เพชรชนะ</h5>
            <p class="card-text-group">รหัสนิสิต: 6420502179</p>
          </div>
        </div>
        <div class="card-group">
          <img
            src="{{ url_for('static', filename='images/member_b.jpg') }}"
            alt="Member B"
            class="member-image-group"
          />
          <div class="card-body">
            <h5 class="card-title-group">นางสาวกนกวรรณ เพ่งพินิจ</h5>
            <p class="card-text-group">รหัสนิสิต: 6420503434</p>
          </div>
        </div>
        <div class="card-group">
          <img
            src="{{ url_for('static', filename='images/member_c.jpg') }}"
            alt="Member C"
            class="member-image-group"
          />
          <div class="card-body">
            <h5 class="card-title-group">นางสาวภัทรานิษฐ์ กระจ่างแจ่ม</h5>
            <p class="card-text-group">รหัสนิสิต: 6420503663</p>
          </div>
        </div>
        <div class="card-group">
          <img
            src="{{ url_for('static', filename='images/member_d.jpg') }}"
            alt="Member D"
            class="member-image-group"
          />
          <div class="card-body">
            <h5 class="card-title-group">นายเพชรกล้า ประดิษฐ์มณีโชติ</h5>
            <p class="card-text-group">รหัสนิสิต: 6420503655</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
