<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/wlogo.png') }}" class="logo" alt="Logo" style="width: 60px; height: 40px; margin-right: 10px;">
        Watermarking App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Make Watermark
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/make-watermark-dwt">DWT</a>
                    <a class="dropdown-item" href="/make-watermark-dwt-svd">DWT+SVD</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Detect Watermark
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/detect-watermark-original">Original Image</a>
                    <a class="dropdown-item" href="/detect-watermark-watermarked">Watermarked Image</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/delete-watermark">Delete watermark</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/group-member">Group member</a>
            </li>
        </ul>
    </div>
</nav>
